[submodule "assets"]
	path = subprojects/assets
	url = https://github.com/apollo-linux/assets
[submodule "subprojects/arch-bootc-pkgs"]
	path = subprojects/arch-bootc-pkgs
	url = https://github.com/hecknt/arch-bootc-pkgs
[submodule "subprojects/xdg-terminal-exec-nautilus"]
	path = subprojects/xdg-terminal-exec-nautilus
	url = https://github.com/zirconium-dev/xdg-terminal-exec-nautilus.git
[submodule "subprojects/homebrew-arch"]
	path = subprojects/homebrew-arch
	url = https://github.com/Lumaeris/homebrew-arch
