[submodule "assets"]
	path = subprojects/assets
	url = https://github.com/apollo-linux/assets
[submodule "subprojects/arch-bootc-pkgs"]
	path = subprojects/arch-bootc-pkgs
	url = https://github.com/hecknt/arch-bootc-pkgs
